{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
            <img src="{{image}}" alt="">
            <ul>
                <li>название: {{name}}</li>
                <li>цена: {{price}}</li>
                <li>дата выхода: {{release_date}}</li>
                <li>поддержка LTE: {{lte_exists}}</li>
            </ul>
        </div>
    </div>
{% endblock %}