<!DOCTYPE html>{% load static %}
{% load color_filter %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
{% block content %}
<div class="row">
    <h1 class="col s12">Инфляция в России</h1>
    <div class="col s12 m8">

        <table>
            {% for i in rows %}
            <tr>
                <td>{{i.year | default:'-'}}</td>
                <td style="background:{{i.jan|pick_color}}">{{i.jan | default:'-'}}</td>
                <td style="background:{{i.feb|pick_color}}">{{i.feb | default:'-'}}</td>
                <td style="background:{{i.march|pick_color}}">{{i.march | default:'-'}}</td>
                <td style="background:{{i.apr|pick_color}}">{{i.apr | default:'-'}}</td>
                <td style="background:{{i.may|pick_color}}">{{i.may | default:'-'}}</td>
                <td style="background:{{i.jun|pick_color}}">{{i.jun | default:'-'}}</td>
                <td style="background:{{i.july|pick_color}}">{{i.july | default:'-'}}</td>
                <td style="background:{{i.aug|pick_color}}">{{i.aug | default:'-'}}</td>
                <td style="background:{{i.sept|pick_color}}">{{i.sept | default:'-'}}</td>
                <td style="background:{{i.oct|pick_color}}">{{i.oct | default:'-'}}</td>
                <td style="background:{{i.nov|pick_color}}">{{i.nov | default:'-'}}</td>
                <td style="background:{{i.dec|pick_color}}">{{i.dec | default:'-'}}</td>
                <td style="background:#808080">{{i.summ | default:'-'}}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>
{% endblock %}

</body>
</html>